{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
    {{ knp_menu_render('create_category') }}

    <div class="example-wrapper">
        <h1>Category create</h1>

        {{ form(form) }}
    </div>
{% endblock %}
