{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
    {{ knp_menu_render('categories') }}

    <div class="example-wrapper">
        <h1>Categories</h1>

        {% for category in categories %}
            <div class="alert alert-primary">
                <a href="{{ path('category.show', {id: category.id}) }}">{{ category.name }}</a>
            </div>
        {% endfor %}

        <a class="btn btn-success" href="{{ path('category.create') }}">Create new</a>
    </div>
{% endblock %}
